<div class="uk-block uk-block-primary uk-contrast uk-margin-large-bottom">
  <h1 class="uk-text-center">Gráficos com todos os convênios</h1>
  <p class="uk-text-large uk-margin-left uk-margin-right">To apply this component, just add the .uk-contrast class to a container or the element whose color you would like to adjust. Text, Buttons, the nav side from the Nav component, the subnav line and subnav pill from the Subnav component, Icons, default forms from the Form component as well as the list line from the List component will automatically change their appearence.</p>
</div>
<div class="uk-grid">
  <div class="uk-width-1-2">
    <div class="uk-panel uk-panel-box uk-panel-box-secondary">
      <highchart id="chart1" config="convenioCtrl.chartConfig"></highchart>
    </div>
  </div>
  <div class="uk-width-1-2">
    <div class="uk-panel uk-panel-box uk-panel-box-secondary">
      <highchart id="chart2" config="convenioCtrl.chartConfig2"></highchart>
    </div>
  </div>
</div>
<div class="uk-grid">
  <div class="uk-width-1-1">
    <div class="uk-panel uk-panel-box uk-panel-box-secondary">
      <highchart id="chart3" config="convenioCtrl.chartConfig3"></highchart>
    </div>
  </div>
</div>
